@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Red+Rose:wght@300..700&display=swap');
@import 'tailwindcss';

@theme {
  --font-rosa: 'red Rosa', 'sans-serif';
  --font-inter: 'inter', 'sans-serif';
  --color-orange: #ea7f21;
  --color-blue: #15414e;
  --color-white: #f6f6f6;
  /* --shadow-box: 35px 35px 35px rgba(0, 0, 0, 0.25);  */
}
